Style


.box {
    border-radius: 10px;
    height: 500px;
    width: 400px;
}

.in-1 {
    color: rgb(49, 37, 35);
    margin-top: 50px;
    font-size: larger;
    font-weight: 400;


}

.in-2 {
    margin-top: 20px;
    font-size: larger;
    font-weight: 400;


}
.in{
    width:100%;
    position: relative;
    

}

i{
    position: absolute;
    opacity: 0.7;
    color: black;
    top:15px;
    right: 10px;
}